<div class="container">
    <div class="inner">
        <div class="up">
            <div class="list">
                <div class="header">Reservation</div>
                <div class="items">
                    <div class="item">car hire</div>
                    <div class="item">modify or cancel</div>
                    <div class="item">Get a receipt</div>
                </div>
            </div>
            <div class="list">
                <div class="header">Customer servives </div>
                <div class="items">
                    <div class="item">Help / fAQS</div>
                    <div class="item">press</div>
                    <div class="item">blog</div>
                </div>
            </div>
            <div class="list">
                <div class="header">Company </div>
                <div class="items">
                    <div class="item">About us</div>
                    <div class="item">carrer</div>
                    <div class="item">gorvenance</div>
                </div>
            </div>
        </div>
        <div class="line">
            <img src="assets/images/line.png" alt="line" class="line-item">
        </div>
        <div class="down">
            <div class="fown-left">
                <p class="logo">LUXURYCARS</p>
            </div>
            <div class="fown-right">
                <a href="https://twitter.com" class="twitter">
                    <img src="assets/images/social1.png" alt="twitter" class="social twitter">
                </a>
                <a href="https://facebook.com" class="facebook">
                    <img src="assets/images/social2.png" alt="facebook" class="social">
                </a>
                <a href="https://instagram.com" class="instagram">
                    <img src="assets/images/social3.png" alt="instagram" class="social">
                </a>
            </div>
        </div>
    </div>
</div>