<div class="container">
    <img class="top">
    <div class="background">

        <img src="assets/images/car-banner.png" alt="car-banner" class="backgroind-item">

        <div class="background-text">
            <div class="text">
                <h3 class="header">safer ,faster and comfortable</h3>
                <p class="some-text">Get in touch with our luxury cars</p>
                <button class="rent">Rent Now</button>
            </div>
        </div>

    </div>
</div>


<div class="bot">
    <div class="bottom">
        <div class="info">
            <div class="bottom-up">
                <div class="info-text">
                    <div class="info-text-header">Book your drean car now!</div>
                    <div class="info-text-words">Rent a car online now from one of our worldwide locations. With over 20 years’ experience in luxury car and customer services, all we need is your ID and you can book any car.</div>
                </div>
            </div>
            <div class="bottom-down">
                <div class="bottom-down-inner">
                    <div class="info-inputs">
                        <div class="info-inputs-item">
                            <input class="input" type="text">
                            <img class="image" src="assets/images/location.png" alt="location">
                        </div>
                    </div>
                    <div class="info-inputs">
                        <div class="info-inputs-item">
                            <input class="input" type="text">
                            <img class="image" src="assets/images/location.png" alt="location">
                        </div>
                    </div>
                    <div class="info-inputs">
                        <div class="info-inputs-item">
                            <input class="input" type="text">
                            <img class="image1" src="assets/images/date.png" alt="location">
                        </div>
                    </div>
                    <button class="button">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>