<div class="container">
    <h2 class="header">Fell the best experience with our luxury car</h2>
    <div class="reasons">
        <div class="reason">
            <img src="assets/images/bag.png" alt="bag" class="image">
            <h3 class="reason-header">Book with flexibility</h3>
            <p class="text">Easily find car and book with no change fees.</p>
        </div>
        <div class="reason">
            <img src="assets/images/bag.png" alt="bag" class="image">
            <h3 class="reason-header">Book with flexibility</h3>
            <p class="text">Easily find car and book with no change fees.</p>
        </div>
        <div class="reason">
            <img src="assets/images/bag.png" alt="bag" class="image">
            <h3 class="reason-header">Book with flexibility</h3>
            <p class="text">Easily find car and book with no change fees.</p>
        </div>
    </div>
</div>