<div class="container">
    <div class="left">
        <img src="assets/images/sec-car.png" alt="" class="secondcar">
    </div>
    <div class="right">
        <div class="header">
            <h3 class="header-item">Our Services</h3>
        </div>

        <div class="stuff">
            <div class="car-info">
                <div class="car-info-left">
                    <img src="assets/images/info-img.png" alt="info-img" class="car-info-img">
                </div>
                <div class="car-info-right">
                    <h4 class="car-info-header">Car Hire</h4>
                    <p class="car-info-text">We pride ourselves in always going the extra mile for our customers.</p>
                </div>
            </div>
            <div class="car-info">
                <div class="car-info-left">
                    <img src="assets/images/info-img.png" alt="info-img" class="car-info-img">
                </div>
                <div class="car-info-right">
                    <h4 class="car-info-header">Car Hire</h4>
                    <p class="car-info-text">We pride ourselves in always going the extra mile for our customers.</p>
                </div>
            </div>
            <div class="car-info">
                <div class="car-info-left">
                    <img src="assets/images/info-img.png" alt="info-img" class="car-info-img">
                </div>
                <div class="car-info-right">
                    <h4 class="car-info-header">Car Hire</h4>
                    <p class="car-info-text">We pride ourselves in always going the extra mile for our customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>